---
Checks:          '-*,
                  abseil-*,
                  bugprone-*,
                  google-*,
                  performance-*,
                  clang-diagnostic-*,
                  modernize-*,
                  readability-*'