---
Checks:          '-*,
                  abseil-*,
                  bugprone-*,
                  google-*,
                  performance-*,
                  clang-diagnostic-*,
                  modernize-*,
                  -modernize-use-trailing-return-type,
                  readability-*'